/* body {
  margin: 0;
  background: #edf2f8;
  font-family: "Prompt", sans-serif;
} */
body {
  margin: 0;
  background: #edf3ff;
  font-family: "Prompt", sans-serif;
}

.mobile-container {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;

  margin: 0 auto;

  background: #f8fafc;

  box-shadow:
    0 0 30px rgba(0,0,0,.08);
}

/* .mobile-container {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;

  margin: 0 auto;

  background: #f8fafc;
} */

.scanner-status {
  padding: 24px;

  text-align: center;
}

.status-icon {
  width: 70px;
  height: 70px;

  margin: auto;

  border-radius: 20px;

  background: linear-gradient(
    135deg,
    #eff6ff,
    #dbeafe
  );

  display: flex;
  justify-content: center;
  align-items: center;

  color: #2563eb;
}

.status-icon svg {
  font-size: 34px;
}