.scanner-card {
    padding: 20px;
}

/* =========================
   Camera Area
========================= */

.camera-area {
    height: 280px;

    position: relative;
    overflow: hidden;

    border-radius: 28px;

    background: #111827;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.12);

    margin-bottom: 20px;
}

.camera-area::after {
    content: "";

    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.15);

    pointer-events: none;

    z-index: 5;
}

/* =========================
   Html5 QR Reader
========================= */

#reader {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 1;
}

#reader video {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 28px;
}

#reader img {
    display: none !important;
}

#reader section {
    border: none !important;
}

#reader__dashboard,
#reader__dashboard_section,
#reader__camera_selection {
    display: none !important;
}

#reader__scan_region {
    min-height: 100% !important;
}

/* =========================
   Flash Button
========================= */

.flash-btn {
    position: absolute;

    /* top: 16px; */
    top: 8px;
    left: 50%;

    transform: translateX(-50%);

    width: 54px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 50%;

    background: rgba(255, 255, 255, 0.88);

    /* color: #2563eb; */
    background: rgba(255, 255, 255, .95);
    color: #dc2626;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.12);

    cursor: pointer;

    z-index: 100;
}

/* ปุ่มเปิดกล้อง */
.camera-open {
    color: #2563eb;
    background: #ffffff;
}

/* ปุ่มปิดกล้อง */
.camera-close {
    color: #ef4444;
    background: #fee2e2;
}

.flash-btn svg {
    font-size: 26px;
}

.flash-btn:hover {
    background: rgba(255, 255, 255, 1);
}

/* =========================
   Scan Frame
========================= */

.scan-frame {
    position: absolute;

    /* width: 240px;
    height: 240px; */
    width: 150px;
    height: 150px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 20;
}

.scan-frame::before,
.scan-frame::after {
    content: "";

    position: absolute;

    width: 60px;
    height: 120px;

    background-image:
        radial-gradient(#dbeafe 1px,
            transparent 1px);

    background-size: 8px 8px;

    opacity: 0.8;
}

.scan-frame::before {
    left: -50px;
}

.scan-frame::after {
    right: -50px;
}

/* =========================
   QR Placeholder
========================= */

.sample-qr {
    position: absolute;

    /* width: 180px;
    height: 180px; */
    width: 120px;
    height: 120px;

    object-fit: contain;

    background: #fff;

    padding: 8px;

    border-radius: 12px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.2);

    z-index: 5;
}

/* =========================
   Scan Corners
========================= */

.corner {
    position: absolute;

    width: 28px;
    height: 28px;

    border: 4px solid #4f7cff;

    filter:
        drop-shadow(0 0 8px rgba(79, 124, 255, 0.7));
}

.tl {
    top: 0;
    left: 0;

    border-right: 0;
    border-bottom: 0;

    border-radius: 16px 0 0 0;
}

.tr {
    top: 0;
    right: 0;

    border-left: 0;
    border-bottom: 0;

    border-radius: 0 16px 0 0;
}

.bl {
    bottom: 0;
    left: 0;

    border-right: 0;
    border-top: 0;

    border-radius: 0 0 0 16px;
}

.br {
    bottom: 0;
    right: 0;

    border-left: 0;
    border-top: 0;

    border-radius: 0 0 16px 0;
}

/* =========================
   Laser
========================= */

.laser {
    position: absolute;

    left: 20px;
    right: 20px;

    height: 4px;

    border-radius: 999px;

    background: linear-gradient(90deg,
            transparent,
            #38bdf8,
            #60a5fa,
            #38bdf8,
            transparent);

    box-shadow:
        0 0 10px #38bdf8,
        0 0 20px #38bdf8,
        0 0 30px #38bdf8;

    z-index: 25;

    animation: scan 2s linear infinite;
}

@keyframes scan {
    0% {
        top: 15%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 85%;
    }
}

/* =========================
   Brand Text
========================= */

.scan-text {
    position: absolute;

    /* bottom: 20px; */
    bottom: 12px;
    left: 50%;

    transform: translateX(-50%);

    padding: 10px 20px;

    border-radius: 999px;

    background: rgba(255, 255, 255, 0.65);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.4);

    color: #2563eb;

    font-size: 12px;
    font-weight: 600;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.08);

    z-index: 30;
}

/* =========================
   Result
========================= */

.result-card {
    margin-bottom: 20px;

    padding: 20px;

    background: #fff;

    border-radius: 20px;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, 0.08);

    text-align: center;
}

.result-card h3 {
    margin-top: 0;

    color: #2563eb;
}

.result-card p {
    word-break: break-all;
}

/* =========================
   Status
========================= */

.scanner-status {
    text-align: center;
    text-align: center;
    padding: 0 24px 24px;
    margin-top: -15px;
}

.status-icon {
    width: 70px;
    height: 70px;

    margin: 0 auto 12px;


    border-radius: 20px;

    background:
        linear-gradient(135deg,
            #eef4ff,
            #dbeafe);

    display: flex;
    align-items: center;
    justify-content: center;

    color: #2563eb;
}

.status-icon svg {
    font-size: 34px;
}

.scanner-status h2 {
    margin: 0;

    color: #2962ff;
}

.scanner-status p {
    margin-top: 8px;

    color: #7a8293;
}

/* =========================
   Mobile
========================= */

@media (max-width: 430px) {

    .camera-area {
        height: 360px;
    }

    .scan-frame {
        width: 210px;
        height: 210px;
    }

    .sample-qr {
        width: 150px;
        height: 150px;
    }
}

.rescan-btn {
    margin-top: 16px;

    padding: 10px 20px;

    border: none;
    border-radius: 12px;

    background: #2563eb;

    color: white;

    font-weight: 600;

    cursor: pointer;
}

.rescan-btn:hover {
    background: #1d4ed8;
}